/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };
        lh_pht: lh_pht {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick-tap-ms = <200>;
            flavor = "tap-unless-interrupted";
            hold-trigger-key-positions = <19 20 21 22 23 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // | TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | SPC | LWR |   | ENT | RSE  | ALT |

            bindings = <
   &kp TAB            &kp Q           &kp W               &kp E            &kp R      &kp T          &kp Y       &kp U       &kp I         &kp O     &kp P  &kp ESCAPE
&kp ESCAPE  &lh_pht A LSHFT  &lh_pht S LGUI  &lh_pht D LEFT_ALT  &lh_pht F LCTRL      &kp G    &hm H RCTRL  &hm J RALT  &hm K RGUI  &hm L RSHIFT  &kp SEMI     &kp SQT
 &kp LSHFT            &kp Z           &kp X               &kp C            &kp V      &kp B          &kp N       &kp M   &kp COMMA       &kp DOT  &kp FSLH    &kp LALT
                                                       &kp LGUI            &mo 1  &kp SPACE        &kp RET    &kp BSPC       &to 2
            >;
        };

        lower {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCLAMATION        &kp AT      &kp HASH      &kp DLLR     &kp PRCNT         &kp CARET   &kp AMPS   &kp STAR  &kp LPAR           &kp RPAR  &kp BACKSLASH
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5         &kp MINUS  &kp EQUAL  &kp GRAVE  &kp LBKT  &kp RIGHT_BRACKET       &kp PIPE
&trans     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp UNDERSCORE   &kp PLUS  &kp TILDE  &kp LBRC           &kp RBRC         &trans
                                             &trans        &trans        &trans            &trans     &trans     &trans
            >;
        };

        raise {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5      &kp N6    &kp N7  &kp N8     &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans    &trans  &trans     &trans  &trans  &trans
                        &trans  &trans  &trans      &trans    &trans   &to 0
            >;
        };
    };
};
